# https://devguide.python.org/versions
# https://www.djangoproject.com/download/#supported-versions
name: (CI)

on:
  push:
    branches:
      - ci
  pull_request:
    branches:
      - ci
      - master

jobs:
  build:
    name: Python ${{ matrix.python-version }}, django ${{ matrix.django-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10", 3.11, pypy3.9]
        django-version: [3.2, 4.0, 4.1]
        exclude:
          # excludes list
          - python-version: 3.7
            django-version: 4.0
          - python-version: 3.7
            django-version: 4.1
          - python-version: 3.11
            django-version: 3.2
          - python-version: 3.11
            django-version: 4.0

    steps:
      - uses: actions/checkout@v3
      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          pip install --upgrade coveralls
          pip install "django~=${{ matrix.django-version }}.0"
      - name: Run flake8
        run: |
          pip install --upgrade flake8
          flake8 --exclude=migrations,tests --ignore=E501,E241,E225,E128 .
      - name: Run pycodestyle
        run: |
          pip install --upgrade pycodestyle
          pycodestyle --exclude=migrations,tests --ignore=E501,E241,E225,E128 .
      - name: Run test
        run: |
          coverage run --source=ipware manage.py test
      - name: Coveralls
        run: coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
